body{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 0;
    max-width: 100%;
}   

h1{
    font-size: 3rem;
    margin-top: 2rem;

}


.dice{
    margin: 5px;
    font-size: 7rem;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.roll-animation{
    animation-name: roll;
}

@keyframes roll{
    0%{
        transform: rotateY(0deg)  rotateX(0deg);
    }

    100%{
        transform: rotateY(720deg)  rotateX(720deg);
    }
}

button{
    position: relative;
    background-color: #47a5c4;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    z-index: 1000px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color .3s ease;
}

button:hover{
    background-color: #2e8baf;
}


ul{
    list-style: none;
    padding: 0;
    margin: 2rem;
    max-width: 400px;
    margin: 2rem auto;
}


li{
    font-size: 1.5rem;
    padding: .5rem;
    margin: .5rem;
    background-color: #f2f2f2;
    border-radius: .5rem;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


li span{
    font-size: 3rem;
    margin-right: 1rem;
}